body {
    /*This is the fonts I used:*/
    font-family: 'Source Code Pro', monospace;
}

html{
    scroll-behavior: smooth;
/*Makes the scrolling smooth*/
}

/*Logo Image Css*/
#LogoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    z-index: 4000;
    padding: 5%;
}

/*Hero Page Text Css*/
.mainheading{
    color: white;
    font-family: arial;
    margin-left: 10%;
    margin-top: 0%;
    padding-top: 10%;
    z-index: 50; /*it makes sure that the text stays on top*/
    font-size: 50px;
    font-weight: bold;

}


/*Navbar!*/
.topNav {
    overflow: hidden;
    background-color: rgb(7, 78, 172);
    z-index: 100; /*Makes sure the navbar doesn't go underneath any elements in the actual website*/
    position: fixed;
    width:100.1%;
    margin-left:0px;
    height:60px;
    top:0%;
    font-size: 30px;

}
/*Navbar Text*/
.topNav a{
        font-family: verdana;
        float: right;
        color:white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: dashed;
        font-size: 20px;
        
}

/*Navbar Text when you hover your mouse over it*/
.topNav a:hover {
        background-color:orange;
        color:white;
}
/*Navbar text / button when you click on it*/
.topNav a:active {
        background-color:rgb(190, 121, 63);
        color:aqua;
}

/*Our team name in the navbar*/
#Title1{
    margin-left: 50px;
    margin-top: 11px;
    color: rgb(166, 242, 255);
}

/*Page styling: I could have used ids for most of them but elements can only have one id so i had to use 
classes*/

/*Hero page styling*/
.Homepage {
    
    margin-left: -8px;
    width: 105%; /*101.2%*/
    background: linear-gradient(to left, #003eb0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*About page styling*/
.Aboutpage {
    padding: 5% 10% 5%;
}


/*Mascot page styling*/
.Mascot_{
    padding: 5% 10% 5%;
    margin-left: -7px;
    width: 85%;
    background-color:rgb(184, 255, 216);
}

/*Members page styling*/
.Members {
    color: white;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-left: -8px;
    padding-left: 5%;
    width: 100%;
    background: linear-gradient(to left, #012b79, #2866ec); 
}

/*Members first section styling*/
.Members_top{
    padding-left: 5%;
}
/*Team Captain styling*/
.SrivantClass {
    padding: 5% 10% 5%;
    background-color: rgb(184, 255, 216);
    margin-left: -7px;
    width: 85%;
}

/*First in srivant class styling */
.SrivantText {
    padding-top: 5%;
}

/*About us text styling*/
.minitext {
    font-size: 15px;
}


/*Tables:*/
/*General Table styling:*/
table, th, td {
    margin-right: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    padding-top: 1%;
    padding-left: 0%;
}
/*Table header styling*/
th{
    height:50px;
        font-size: 20px;
      
}
/*Table data / table content styling*/
td {
    
    padding: 5px;
}

/*he table from Members section styling*/
.table_1 {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    margin: 10% 10% 10% 10%;
    padding-left: 1%;
    padding-bottom: 5%;
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
}


/*Buttons:*/

/*Youtube Channel button:*/
.button1{
    background-color: rgb(255, 0, 0);
      position: absolute;
      border-color:transparent;
      border-style:none;
      border-width:0px;
      border-radius:10px;
      padding:10px;
      width: 100px;
      margin-bottom:8%;
      text-align:center;
      color:white;
      margin-left: 30%;
      text-decoration: none;
      border: 2px solid #ff3838;
      transition-duration: 0.4s;
}


/*Button1 Css when you hover over it*/
.button1:hover{
    background-color:rgb(0, 255, 13); /* Green */
    border: 2px solid #4CAF50;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Second button - email*/
.button2{
    background-color: rgb(255, 0, 0);
      position: absolute;
      border-color:transparent;
      border-style:none;
      border-width:0px;
      border-radius:10px;
      padding:10px;
      width: 100px;
      margin-bottom:8%;
      text-align:center;
      color:white;
      margin-left: 15%;
      text-decoration: none;
      border: 2px solid #ff3838;
      transition-duration: 0.4s;
}

/*Button2 Css when you hover over it*/
.button2:hover{
    background-color:rgb(0, 255, 13); 
    border: 2px solid #4CAF50;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*Cool video button*/
.button3{
    background-color: rgb(255, 0, 0);
      position: absolute;
      border-color:transparent;
      border-style:none;
      border-width:0px;
      border-radius:10px;
      padding:10px;
      width: 300px;
      margin-bottom:8%;
      text-align:center;
      color:white;
      margin-left: 45%;
      text-decoration: none;
      border: 2px solid #ff3838;
      transition-duration: 0.4s;
}
/*Button3 Css when you hover over it*/
.button3:hover{
    background-color:rgb(0, 255, 13); /* Green */
    border: 2px solid #4CAF50;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Contact Css*/
.ContactClass {
    padding: 5% 10% 5%;   
}


/*Footer styling*/
.Footer {
    background-color: blue;
    color: white;
    padding: 1% 10% 1%; 
    margin-bottom: -11px;
    margin-left: -7px;
    width: 85.01%;
}


/*Unique Addition: animation in hero page*/
/*Animation in Hero Page:*/

/*Box styling:*/
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
}


/*here are all the individual boxes that I placed in the hero page so it animates*/
.box div:nth-child(1){
    top: 40%;
    left: 40%;
    animation: animate 10s linear infinite;
    
   
}
.box div:nth-child(2){
    top: 95%;
    left: 12%;
    animation: animate 7s linear infinite; 
    
    
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite; 
    
}
.box div:nth-child(4){
    top: 15%;
    left: 60%;
    animation: animate 10s linear infinite; 
    
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite; 
    
}
.box div:nth-child(6){
    top: 100%;
    left: 90%;
    animation: animate 12s linear infinite; 
    
}
.box div:nth-child(7){
    top: 40%;
    left: 60%;
    animation: animate 15s linear infinite;
    
    
}
.box div:nth-child(8){
    top: 20%;
    left: 25%;
    animation: animate 17s linear infinite; 
    
}
.box div:nth-child(9){
    top: 70%;
    left: 80%;
    animation: animate 9s linear infinite; 
    /*border: 7.5px solid rgba(255, 0, 0, 0.8);*/
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite; 
}
.box div:nth-child(11){
    top: 120%;
    left: 5%;
    animation: animate 10s linear infinite; 
}

.box div:nth-child(12){
    top: 27%;
    left: 95%;
    animation: animate 13s linear infinite; 
}

.box div:nth-child(13){
    top: 50%;
    left: 0%;
    animation: animate 10s linear infinite; 
}
.box div:nth-child(14){
    top: 0%;
    left: 90%;
    animation: animate 15s linear infinite; 
}

.box div:nth-child(15){
    top: 50%;
    left: 90%;
    animation: animate 12s linear infinite; 
}


/*Boxes actual animation:*/

@keyframes animate{
    /*Beginning*/
    0%{
        transform: scale(0)/*Starts out really small - you can't see it*/ translateY(0) translateX(0) rotate(0) /*
        Resets position and rotation*/;
        opacity: 1; /*Starts out with no transparency */
        
    }
    /*Ending*/
    100%{
        transform: scale(1.3) /*Ending: it has a scale of 1.3*/ translateY(-90px) translateX(90px) rotate(360deg); /*
        When the box reaches the end, it has transformed 90px up, 90px right, and rotated 360 degrees */
        opacity: 0; /*Ends fully transparent*/
    }
}